@font-face {
    font-family: myFirstFont;
    src: url(Kanit-Medium.ttf);
}

:root {
    --background-light: white;
    --text-light: black;
    --font-light: myFirstFont;

    --background-dark: black;
    --text-dark: white;
    --font-dark: myFirstFont;
  }

  body {
    background-color: var(--background-light);
    color: var(--text-light);
    font-family: var(--font-light);
  }

  body.dark-theme {
    background-color: var(--background-dark);
    color: var(--text-dark);
    font-family: var(--font-dark);
  }


.warning{
    border: 4px solid;
    border-color: orange;
}

#contactForm{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 800px;
}

#outputs {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
}

output[for="info"] {
    color: green;
}

output[for="error"] {
    color: red;
}
.invalid_error{
    color: red;
    animation: fadeOut 3s forwards;
}
.invalid_error2{
    color: red;
    animation: fadeOut2 3s forwards;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut2 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:valid {
    box-shadow: 0 0 5px 1px black;
}
